.about {
  a {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    margin-bottom: 40px;
  }
}

.headshot-container {
  max-width: 250px;
  margin: 0 auto;

  img {
    clip-path: circle(38% at 50% 46%);
  }
}

.resume {
  background: $lava-gold;
  color: $lava-purple;
  border: 2px solid $lava-gold;

  box-shadow: 4px 4px 0px $lava-pink;

  &:hover,
  &:focus {
    background: $lava-purple;
    color: $lava-gold;
    box-shadow: 8px 8px 0px $lava-pink;
  }

  &:active {
    background: $text-main;
  }
}
