
.about {
    
    a {
        display: inline-block;
        width: 100%;
        max-width: 500px;
        margin-bottom: 40px;
    }
}

.headshot-container {

    max-width: 400px;
    margin: 0 auto;

    img {
        clip-path: circle(38% at 50% 46%);
    }
}

.resume {
    background: $text-main;
    color: $background-main;

    &:hover,
    &:focus {
        background: $heading-main;
    }

    &:active {
        background: $text-main;
    }
}