.contact {
  padding-bottom: 30px;

  a {
    display: inline-block;

    width: 80%;
    max-width: 400px;
    margin: 0 15px 15px 15px;

    line-height: 1.4;
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: underline;

    @include forTablet {
      font-size: 2.6rem;
    }
  }
}
