
// essentials

// * {
//     border: 1px solid red;
// }

.wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

// style stripping

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background-color: $background-main;
    font-family: 'Raleway', sans-serif;

    scroll-behavior: smooth;
}

section {
    padding-top: 50px;
}

h1,
h2,
h3,
ul,
p,
button {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 15px;
}

a,
p {
    color: $text-main;
}

h1,
h2,
h3,
a,
p {
    line-height: 1.2;
    letter-spacing: 0.5px;
}

h2,
h3 {
    color: $heading-main;
}

h2 {
    padding-bottom: 20px;
    
    font-size: 3.8rem;
}

h3 {
    font-size: 2.8rem;
}

p,
a {
    font-size: 2.0rem;
}

h2,
h3,
p,
a {
    font-weight: 300;
}

h3,
p {
    text-align: left;
}

p {
    margin-bottom: 10px;
}

img {
    width: 100%;
}

