
.piece {
    margin: 30px 10px;
    padding: 10px;

    h3 {
        margin-bottom: 15px;
    }

    a {
        font-size: 2.5rem;
        font-weight: 600;
    }

    @include forTablet {
        margin: 60px 20px;
        padding: 30px;
    }
}

.piece-1, 
.piece-2, 
.piece-3, 
.piece-4 {
    background-position: top;
    background-repeat: no-repeat;
    background-size: fill;
}

.text-container {
    padding: 4px;

    @include forTablet {
        padding: 20px;
    }

    a {
        display: inline-block;
        width: 100%;
        max-width: 550px;
    }
}

.tech-used {

    display: flex;
    flex-wrap: wrap;

    margin-bottom: 10px;
    
    p {
        display: inline-block;
        
        margin-right: 10px;
        padding: 5px 8px;
        border-radius: 5px;

        font-size: 1.8rem;
        color: $background-main;
        background-color: $heading-main;

    }
}

.piece-1 {
    background: url(../assets/images/projectThree.png);

    .text-container {
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8));
    }
}

.piece-2 {
    background: url(../assets/images/projectFour.png);

    .text-container {
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5));
    }
}

.piece-3 {
    background: url(../assets/images/projectFive.png);

    .text-container {
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    }
}

.piece-4 {
    background: url(../assets/images/projectSix.png);

    .text-container {
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8));
    }
}