.skills {
  p {
    margin-top: 5px;
    text-align: center;
  }

  h2,
  p,
  i {
    color: $lava-purple;
  }
}

.skill-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;

  @include forTablet {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  padding-top: 20px;

  i {
    font-size: 60px;

    @include forTablet {
      font-size: 80px;
    }
  }

  li {
    padding-bottom: 20px;

    @include forTablet {
      padding-bottom: 30px;
    }
  }
}

// .firebase-container {
//   display: inline-block;

//   width: 60px;
//   height: 60px;

//   @media (min-width: 500px) {
//     width: 80px;
//     height: 80px;
//   }

//   text-align: center;
// }
