html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .wrapper {
    width: 90%;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

section {
  padding-top: 50px;
}

@media (min-width: 767px) {
  section {
    padding-top: 80px;
  }
}

h1,
h2,
h3,
ul,
p,
button {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 15px;
}

a:hover, a:focus {
  background: #4b4b4b;
  color: whitesmoke;
}

a:active {
  background: #141414;
}

a,
p {
  color: #141414;
}

h1,
h2,
h3,
a,
p {
  line-height: 1.2;
  letter-spacing: 0.5px;
}

h1,
h2,
a,
p {
  font-weight: 300;
}

h2,
h3 {
  color: #4b4b4b;
}

h2 {
  padding-bottom: 20px;
  font-size: 3.8rem;
}

@media (min-width: 767px) {
  h2 {
    font-size: 6.0rem;
  }
}

h3 {
  margin-bottom: 20px;
  font-size: 2.8rem;
  font-weight: 600;
}

@media (min-width: 767px) {
  h3 {
    font-size: 4.5rem;
  }
}

p,
a {
  font-size: 2.0rem;
}

h3,
p {
  text-align: left;
}

p {
  line-height: 1.4;
  margin-bottom: 10px;
}

img {
  width: 100%;
}

header {
  padding-top: 150px;
  min-height: 550px;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0.75))), url(../assets/images/header-image.jpg);
  background: linear-gradient(rgba(10, 10, 10, 0.75)), url(../assets/images/header-image.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

header h1,
header h2,
header i.fab {
  color: whitesmoke;
}

@media (min-width: 400px) {
  header {
    padding-top: 220px;
    min-height: 680px;
  }
}

@media (min-width: 767px) {
  header {
    padding-top: 320px;
    min-height: 980px;
  }
}

h1 {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 10px;
  font-size: 5.8rem;
}

@media (min-width: 767px) {
  h1 {
    font-size: 8.0rem;
    padding-bottom: 25px;
  }
}

.sub-heading {
  padding-top: 8px;
}

@media (min-width: 767px) {
  .sub-heading {
    padding-top: 25px;
  }
}

.menu-button-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: left;
  background: #141414;
}

.menu-button {
  padding: 10px;
  font-size: 3.5rem;
  color: whitesmoke;
  background: #141414;
}

@media (min-width: 767px) {
  .menu-button {
    font-size: 5.0rem;
  }
}

.main-nav {
  position: fixed;
  top: -1000px;
  left: 0;
  width: 100%;
  height: calc(100% - 44px);
  z-index: 5;
  background: #141414;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-nav li {
  width: 100%;
}

.main-nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-nav a {
  display: inline-block;
  font-size: 2.8rem;
  color: whitesmoke;
}

@media (min-width: 767px) {
  .main-nav a {
    font-size: 4.8rem;
  }
}

.social-nav {
  margin-top: 30px;
}

@media (min-width: 400px) {
  .social-nav {
    margin-top: 90px;
  }
}

@media (min-width: 767px) {
  .social-nav {
    margin-top: 180px;
  }
}

.social-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.social-nav i {
  font-size: 4.0rem;
  color: #141414;
}

@media (min-width: 767px) {
  .social-nav i {
    font-size: 6.0rem;
  }
}

.social-nav a:hover, .social-nav a:focus {
  background: none;
  color: none;
}

.social-nav a:active {
  background: none;
}

.social-nav a i:hover, .social-nav a i:focus {
  text-shadow: 0px 0px 5px whitesmoke;
  background: none;
}

.social-nav a i:active {
  color: #4b4b4b;
}

.about a {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
}

.headshot-container {
  max-width: 400px;
  margin: 0 auto;
}

.headshot-container img {
  -webkit-clip-path: circle(38% at 50% 46%);
          clip-path: circle(38% at 50% 46%);
}

.resume {
  background: #141414;
  color: whitesmoke;
}

.resume:hover, .resume:focus {
  background: #4b4b4b;
}

.resume:active {
  background: #141414;
}

.skills p {
  margin-top: 5px;
  text-align: center;
}

.skill-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}

@media (min-width: 767px) {
  .skill-list {
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.skill-list i {
  font-size: 60px;
}

@media (min-width: 500px) {
  .skill-list i {
    font-size: 80px;
  }
}

.skill-list li {
  padding-top: 10px;
}

@media (min-width: 500px) {
  .skill-list li {
    padding-top: 30px;
  }
}

.firebase-container {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
}

@media (min-width: 500px) {
  .firebase-container {
    width: 80px;
    height: 80px;
  }
}

.piece {
  margin: 30px 10px;
  padding: 10px;
}

.piece h3 {
  margin-bottom: 15px;
}

.piece a {
  font-size: 2.5rem;
  font-weight: 600;
}

.piece-1,
.piece-2,
.piece-3,
.piece-4 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: fill;
}

.text-container {
  padding: 4px;
}

.text-container a {
  display: inline-block;
  width: 100%;
  max-width: 550px;
}

.tech-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.tech-used p {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 1.8rem;
  color: whitesmoke;
  background-color: #4b4b4b;
}

.piece-1 {
  background: url(../assets/images/projectThree.png);
}

.piece-1 .text-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), color-stop(rgba(255, 255, 255, 0.5)), to(transparent));
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5), transparent);
}

.piece-2 {
  background: url(../assets/images/projectFour.png);
}

.piece-2 .text-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), color-stop(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
}

.piece-3 {
  background: url(../assets/images/projectFive.png);
}

.piece-3 .text-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), color-stop(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
}

.piece-4 {
  background: url(../assets/images/projectSix.png);
}

.piece-4 .text-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), color-stop(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8));
}

.contact {
  padding-bottom: 30px;
}

.contact a {
  display: inline-block;
  width: 100%;
  line-height: 1.4;
  font-size: 2.4rem;
  font-weight: 600;
}

footer {
  padding: 20px;
  background: #141414;
}

footer p {
  margin: 0;
  font-size: 2.4rem;
  text-align: center;
  color: whitesmoke;
}
